---
import airbnb from "../../assets/airbnb.png";
import linear from "../../assets/linear.png";
import paypal from "../../assets/paypal.png";
import uber from "../../assets/uber.png";
import zoom from "../../assets/zoom.png";
import youtube from "../../assets/youtube.png";
---

<section class="bg-tealbrown py-[2rem] mb-4 flex flex-col gap-y-8 items-center">
  <p class="font-medium font-sans">Join 4,000+ companies already growing</p>
  <div class="flex flex-wrap items-center justify-center gap-[2rem] sm:gap-[5rem]">
    <img src={airbnb.src} alt="" />
    <img src={linear.src} alt="" />
    <img src={paypal.src} alt="" />
    <img src={youtube.src} alt="" />
    <img src={uber.src} alt="" />
    <img src={zoom.src} alt="" />
  </div>
</section>
