---
import tick from "../../assets/tick-circle.png";
import arrow from "../../assets/black-arrow.png";

const brands = [
  "Start ups",
  "Retail and E-Commerce",
  "Real Estate",
  "Entertainment and Media",
  "Education and E-Learning",
  "And many more",
];

const individuals = [
  "Content Creators",
  "Travel Enthusiasts",
  "Special Occasion Celebrants",
  "Online Course Instructors",
  "Creative Artists",
  "And many more",
];
---

<section class="flex px-4 sm:px-10 bg-[#F2F4F7] py-20 xl:px-32 flex-col gap-y-14">
  <div class="flex flex-col items-center">
    <p class="text-xl font-bold font-sans text-primaryorange">WHO WE HELP</p>
    <p class="sm:text-[45px] font-serif text-center xl:text-[64px] font-semibold">
      We offer Custom Solutions for...
    </p>
  </div>

  <div class="flex flex-col lg:flex-row gap-8">
    <div class="bg-[#FCFCFD] flex-1 flex flex-col gap-y-8 rounded-2xl p-8 font-sans">
      <div class="flex flex-col gap-y-6">
        <span class="flex flex-col gap-y-4">
          <h3 class="text-[36px] font-bold">Businesses and Brands</h3>
          <p class="text-base">
            We're dedicated to helping businesses harness the true potential of
            video content to connect with their audience, drive conversions, and
            elevate their brand presence.
          </p>
        </span>

        <div class="flex flex-col gap-y-2">
          {
            brands.map((brand) => (
              <div class="flex items-center gap-x-2">
                <img src={tick.src} alt="" /> <p>{brand}</p>
              </div>
            ))
          }
        </div>
      </div>

      <p class="text-base">
        We’re here to help you. Reach out to us as soon as possible!
      </p>
      <button
        class="flex font-button items-center w-fit justify-center rounded-lg border font-extrabold text-base border-[#98A2B3] gap-x-3 px-5 py-4"
        >SEE BUSINESSES <img src={arrow.src} alt="arrow-icon" /></button
      >
    </div>

    <div class="rounded-2xl flex flex-1 flex-col gap-y-8 p-8 bg-tealbrown font-sans">
      <div class="flex flex-col gap-y-4">
        <span class="flex flex-col gap-y-4">
          <h3 class="text-[36px] font-bold">Individuals</h3>
          <p class="text-base">
            Whether you're a content creator, a filmmaker, or someone with a
            passion for video, we're here to help you turn your vision into
            captivating reality, enhancing your storytelling, and making every
            frame count.
          </p>
        </span>

        <div class="flex flex-col gap-y-2">
          {
            individuals.map((individual) => (
              <div class="flex items-center gap-x-2">
                <img src={tick.src} alt="" /> <p>{individual}</p>
              </div>
            ))
          }
        </div>
      </div>

      <p class="text-base">
        We’re here to help you. Reach out to us as soon as possible!
      </p>

      <button
        class="flex font-button items-center justify-center rounded-lg border w-fit font-extrabold text-base border-[#98A2B3] gap-x-3 px-5 py-4"
        >SEE INDIVIDUALS <img src={arrow.src} alt="arrow-icon" /></button
      >
    </div>
  </div>
</section>
